/*=================== 
03. Button
******************************************************* 
*************************************************************** */
@use "../abstracts/variables" as *;
.ba-submit-btn {
    display: inline-block;
    border: 0;
    height: 50px;
    padding: 0 28px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--clr-common-white);
    background-color: var(--clr-theme-primary);
    font-weight: 500;
    line-height: 48px;
    @media #{$c-xxs} {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 18px;
    }
    &:hover {
        background-color: var(--clr-common-black);
        color: var(--clr-common-white);
    }
    &.hover-white {
        &:hover {
            background-color: var(--clr-common-white);
            color: var(--clr-theme-primary);
        }
    }
    &.white-btn {
        color: var(--clr-theme-primary);
        background-color: var(--clr-common-white);
        &:hover {
            background-color: var(--clr-common-black);
            color: var(--clr-common-white);
        }
    }
}