@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon16f4.ttf?0d698a78ab6921c1d9acd43cd9486791") format("truetype"),
url("../fonts/flaticon16f4.woff?0d698a78ab6921c1d9acd43cd9486791") format("woff"),
url("../fonts/flaticon16f4.woff2?0d698a78ab6921c1d9acd43cd9486791") format("woff2"),
url("../fonts/flaticon16f4.eot?0d698a78ab6921c1d9acd43cd9486791#iefix") format("embedded-opentype"),
url("../fonts/flaticon16f4.svg?0d698a78ab6921c1d9acd43cd9486791#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-align-left:before {
    content: "\f101";
}
.flaticon-play:before {
    content: "\f102";
}
.flaticon-bride:before {
    content: "\f103";
}
.flaticon-wedding-arch:before {
    content: "\f104";
}
.flaticon-photo-size:before {
    content: "\f105";
}
.flaticon-instagram:before {
    content: "\f106";
}
.flaticon-email:before {
    content: "\f107";
}
.flaticon-quotation-marks:before {
    content: "\f108";
}
.flaticon-love:before {
    content: "\f109";
}
.flaticon-wedding:before {
    content: "\f10a";
}
.flaticon-magic-book:before {
    content: "\f10b";
}
.flaticon-front-camera:before {
    content: "\f10c";
}
.flaticon-bridesmaid:before {
    content: "\f10d";
}
